/.vscode
/bootstrap-5.3.0-alpha3
/dance-pochatkivci.jpeg
/dancest.png
/Dancestudio.png
/dance_icon.png
/email.png
/free-icon-bar-chart-4623983.png
/home.png
/icon.png
/icons8-аналитика-30.png
/icons8-галочка-16.png
/icons8-загрузка-48.png
/icons8-исходный-код-16.png
/icons8-настройки-20.png
/icons8-скачать-16.png
/imgdance.jpg
/index.html
/lab22.side
/logo.jpg
/me.jpg
/medance.jpg
/mediplom.jpg
/phone.png
/script.js
/style.css
/style18.css
/style3.css
/style3_2.css
/trofimchenkolab1.html
/trofimchenkolab18.html
/trofimchenkolab2.html
/trofimchenkolab3.html
/trofimchenkolab3_2.html
/Мазуренко Ольга Олександрівна.txt